/*! Home Module */
/* https://www.behance.net/gallery/188242641/Portfolio-Landing-Page-Ui-Design-UX?tracking_source=search_projects|ux+design+portfolio&l=6 dessign*/

body{
    background-color: #1f212a;
}
.navbar{
    background-color: #ffc412;
    height: 90px;
}
